@use "../mixins" as m;

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-light);
    border-radius: 10px;
    overflow: hidden;
    max-width: 800px;
    border: 2px solid var(--color-dark-transparent);

    &-thumbnail {
        min-height: 500px;
        max-height: 500px;
        width: 100%;
        object-fit: cover;
    }

    &-body {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 10px;
        padding: 32px 64px;
        height: 100%;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        &__title {
            font-style: 24px;
            font-weight: 700;
        }

        &__category {
            color: var(--color-primary-hover);
        }

        &__information {
            display: flex;
            align-items: center;
            column-gap: 20px;
            width: 100%;
            border-radius: 10px;
            padding: 2px 6px;
            background-color: rgba(11, 96, 175, 0.4); // fallback
            background-color: color-mix(in srgb, var(--color-creator) 40%, transparent);
        }

        &__avatar {
            width: 48px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid var(--color-creator);
        }

        &__author {
            font-weight: 700;
            font-size: 14px;
            color: var(--color-creator);
        }

        &__date {
            font-size: 14px;
            font-weight: 700;
            color: var(--color-dark-transparent);
        }

        &__description {
            margin-top: 40px;
        }

        &__button {
            @include m.fluid-text(12, 16);

            font-weight: 500;
            margin-top: auto;
        }
    }
}