@use "../mixins" as m;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 24px;

    &-logo {
        color: var(--color-primary);
        font-size: 36px;
    }

    &-nav {
        display: flex;
        align-items: center;
        column-gap: 64px;

        &__link {
            @include m.link-animation;

            color: var(--color-primary);
            font-weight: 500;
        }
    }

    &-actions {
        display: flex;
        align-items: center;
        column-gap: 12px;

        &__button {
            column-gap: 6px;
        }
    }
}